@font-face {
  font-family: "ShareTechMono";
  src: local("ShareTechMono-Regular"), local("ShareTechMonoRegular"),
    url("../../fonts/ShareTechMono-Regular.woff2") format("woff2"),
    url("../../fonts/ShareTechMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShareTech";
  src: local("ShareTech-Regular"), local("ShareTechRegular"),
    url("../../fonts/ShareTech-Regular.woff2") format("woff2"),
    url("../../fonts/ShareTech-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HachiMaruPop';
  src: local('HachiMaruPopRegular'), local('HachiMaruPop-Regular'),
    url('../../fonts/HachiMaruPop-Regular.woff2') format('woff2'),
    url('../../fonts/HachiMaruPop-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RubikGlitch';
  src: local('RubikGlitchRegular'), local('RubikGlitch-Regular'),
    url('../../fonts/RubikGlitch-Regular.woff2') format('woff2'),
    url('../../fonts/RubikGlitch-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ScienceGothic';
  src: local('ScienceGothicRegular'), local('ScienceGothic-Regular'),
    url('../../fonts/ScienceGothic-Regular.woff2') format('woff2'),
    url('../../fonts/ScienceGothic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tektur';
  src: local('TekturRegular'), local('Tektur-Regular'),
    url('../../fonts/Tektur-Regular.woff2') format('woff2'),
    url('../../fonts/Tektur-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* ********************************* */

/* Шаг А: Базовый шрифт для кириллицы (Русский) */
@font-face {
  font-family: 'GlobalText';
  src: local('ScienceGothicRegular'), local('ScienceGothic-Regular'),
    url('../../fonts/ScienceGothic-Regular.woff2') format('woff2'),
    url('../../fonts/ScienceGothic-Regular.woff') format('woff');
  font-weight: 400;
}

/* Шаг Б: Наслоение латиницы (Английский) */
@font-face {
  font-family: 'GlobalText';
  src: local('ShareTechMono-Regular'), local('ShareTechMonoRegular'),
    url('../../fonts/ShareTechMono-Regular.woff2') format('woff2'),
    url('../../fonts/ShareTechMono-Regular.woff') format('woff');
  font-weight: 400;
  /* Применяется ТОЛЬКО к английским буквам, цифрам и спецсимволам */
  unicode-range: U+0000-007F;
}


/* =======================================================
   СВЯЗКА ИСКЛЮЧИТЕЛЬНО ДЛЯ ЦИТАТ (Tektur + ShareTechMono)
======================================================= */
/* Шаг А: Базовый шрифт для кириллицы (Русский) */
@font-face {
  font-family: 'QuotesText';
  src: local('TekturRegular'), local('Tektur-Regular'),
    url('../../fonts/Tektur-Regular.woff2') format('woff2'),
    url('../../fonts/Tektur-Regular.woff') format('woff');
  font-weight: 400;
}

/* Шаг Б: Наслоение латиницы (Английский) */
@font-face {
  font-family: 'QuotesText';
  src: local('ShareTechMono-Regular'), local('ShareTechMonoRegular'),
    url('../../fonts/ShareTechMono-Regular.woff2') format('woff2'),
    url('../../fonts/ShareTechMono-Regular.woff') format('woff');
  font-weight: 400;
  unicode-range: U+0000-007F;
}