:root {
  /* font */
  --font-body: "GlobalText", sans-serif;
  --font-text: "ShareTech", sans-serif;
  --font-quotes: "QuotesText", sans-serif;
  --font-all: "ScienceGothic", sans-serif;
  --font-size-text: 16.8px;

  /* Микро-декор ------------------------------------------------------*/
  --fs-8: clamp(0.4375rem, 0.1vw + 0.4375rem, 0.5625rem);
  /* 8px */
  --fs-10: clamp(0.5625rem, 0.15vw + 0.5625rem, 0.625rem);
  /* 10px */
  --fs-12: clamp(0.625rem, 0.2vw + 0.6875rem, 0.75rem);
  /* 12px */
  --fs-14: clamp(0.75rem, 0.25vw + 0.6875rem, 0.875rem);
  /* 16.8 1.2*/
  --fs-16: clamp(0.875rem, 0.4vw + 0.6875rem, 1rem);
  /* 19.2 1.2*/
  --fs-18: clamp(0.9375rem, 0.6vw + 0.6875rem, 1.125rem);
  /* 21.6 1.2*/
  --fs-22: clamp(1.125rem, 0.8vw + 0.75rem, 1.375rem);
  /* 27.5 1.25*/
  --fs-24: clamp(1.125rem, 1vw + 0.6875rem, 1.5rem);
  /* 28.8 1.2*/
  --fs-32: clamp(1.375rem, 1.25vw + 0.875rem, 2rem);
  /* 38.4 1.2*/
  --fs-42: clamp(1.75rem, 2.5vw + 0.625rem, 2.625rem);
  /* 52.5 1.25*/
  --fs-58: clamp(2rem, 3.5vw + 0.75rem, 3.625rem);
  /* 69.6 1.2*/
  /* ----------------------------------- */


  /* colors ------------------------------*/
  --bg: #050505;
  --bg-cos: #02040a;
  --bg-light: #f0f4f8;



  --accent: #fff;

  --accent-2: rgba(224, 255, 255, 0.72);

  --glass: #00f2ff0d;
  --glass-bg: #ffffff08;
  --glass-border: #ffffff1a;
  --glass-border2: #00f2ff33;
  --glass-inher: inherit;
  --glass-transp: transparent;

  --glass-light: #00f2ff80;
  --glass-light2: #ffffffb3;
  --glass-light-border: #0000000d;
  --glass-inher: inherit;
  --glass-transp: transparent;

  --cyan: #00f2ff;
  --sky-cyan: #7df9ff;
  --sky-cyan2: #00ccff;

  --electric-sky: #00e5ff;
  --ghost-sky: #e0ffff;

  --sky-primary: #00aaff;
  --sky-bright: #87ceeb;
  --sky-ghost: #f0f8ff;


  --red: #ff0000;
  --red-2: #ff0055;

  --orange: #ff4e00;
  --blue: #0a1128;
  --Indigo: #1c1c54;
  --violet: #5e3a8c;
  --magenta: #ff00ff;
  --golden: #ffcc00;
  --golden-2: #ffd700;
  --purple: #4a0e4e;




  --clr-1: #ff0055;
  --clr-2: #ff7700;
  --clr-3: #ffff00;
  --clr-4: #00ff00;
  --clr-5: #00f2ff;
  --clr-6: #3300ff;
  --clr-7: #ff00ff;

  /* нью */
  --ghost-rept: rgba(222, 255, 150, 0.284);
  /* rgba(222, 255, 150, 0.284); */

  --pedestal-glow: #00f2ff99;
  --blur: 12px;

  /* container */
  --container-width: 1280px;
  --container-padding: 15px;

  /* transition */
  --transition-time: 0.2s;

  /* layers */
  --layer-0: -1;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
}

/* background: radial-gradient(circle at center, #0a151a 0%, #050505 100%); */
/* background: linear-gradient(180deg, #0c1445 0%, #00f2ff 40%, #ff00ff 70%, #ff4e00 100%); */