.page {
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--text-color);
}

.page__body {
  background: var(--bg-color);
  min-height: 200vh;
  min-width: 375px;
}

.page__body--no-scroll {
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 400;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

a:focus-visible,
button:focus-visible,
.dropdown__trigger:focus-visible {
  outline: 1px solid var(--text-p-color);
  outline-offset: 2px;
  border-radius: 2px;
}

/* .hero__slider .swiper-button-prev::after,
.hero__slider .swiper-button-next::after {
  display: none;
} */
.dropdown__trigger:focus:not(:focus-visible) {
  outline: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
  font-size: clamp(15px, 0.5vw + 14px, 18px);
  line-height: 1.2;
  border-radius: 100px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

/* .btn:hover {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);

} */
