:root {
  /* font */
  --font-heading: "ReadexPro", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-size-text: 16.8px;

  /* colors */
  --bg-color: #fff;
  --bg2-color: #dce5e2;
  --bg3-color: #f8f9fa;
  --text-color: #000;
  --text-p-color: #4b4b4b;
  --shadow-color: #0000000d;
  --border-color: #c5c5c5;

  /* container */
  --container-width: 1294px;
  --container-padding: 15px;

  /* transition */
  --transition-time: 0.2s;
  /* layers */
  --layer-0: -1;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
}