/* Контейнер для Сердца */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  /* Опускаем ниже звезд */
  display: block;
  background-color: var(--bg-cos)
}


/* Главная обертка на весь экран */
.ui-wrapper {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
}

/* Центральный узел (Круг и боковые кнопки) */
#ui-layer {
  position: relative;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ЦЕНТРАЛЬНАЯ КНОПКА-КРУГ */
.main-circle-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--glass);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px var(--cyan);
  position: relative;
  background-color: var(--bg-cos);
}

/* ТЕКСТ И ЗНАЧКИ ВНУТРИ (PLAY / ACTIVE / ▶) */
/* #main-btn-text {
  color: var(--cyan);
  font-size: 10px;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
} */

/* ЭФФЕКТ ПРИ НАВЕДЕНИИ КУРСОРA */

@media (any-hover:hover) {
  .main-circle-btn:hover {
    border-color: rgba(0, 242, 255, 0.2);
    background: rgba(1, 2, 8, 0.4);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px rgba(0, 242, 255, 1),
      inset 0 0 5px rgba(0, 242, 255, 1);
  }

  .state-2 .main-circle-btn:hover {
    background: rgba(2, 4, 10, 0.97);
    box-shadow: 0 0 5px var(--cyan);
  }

  #track-info:hover {
    color: var(--accent);
    text-shadow: 0 0 15px var(--accent);
  }

  /* Дорожка прогресса */
  #progress-container:hover {
    opacity: 1;
  }

}

.state-1 #main-btn-text {}

.state-2 #main-btn-text {}

/* ВЕРХНИЙ ХУД: Прижат к верху */
.hud-top {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: translateX(-50%);
  width: 400px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

/* НИЖНИЙ ХУД: Прижат к низу */
.hud-bottom {
  position: fixed;
  left: 20px;
  bottom: 40px;
  /* left: 10%;
  transform: translateX(-50%); */
  width: 360px;
  /* text-align: center; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}



#playlist-side {
  position: fixed;
  right: 20px;
  /* Отступ от правой стенки */
  bottom: 20px;
  /* Отступ от пола */

  width: 360px;
  /* Лимит высоты: 5 треков по 32px + шапка ~110px */
  max-height: 270px;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;

  transition: all 0.2s ease;
  padding: 5px;
  z-index: 2;
}

.state-1 #playlist-side {
  opacity: 1;
  visibility: visible;
}


.playlist-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
  /* Одинаковое расстояние между кнопками */
  /* Отступ от кнопок до начала списка треков */
  width: 100%;
  /* Растягиваем на всю ширину контейнера */
}

/* ПЕРЕКЛЮЧАТЕЛИ ТРЕКОВ: 40px от круга */
.hud-side {
  /* position: absolute; */
  /* Круг 120 + 40 + 40 + кнопки 20+20 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  pointer-events: none;
}

.hud-side button {
  pointer-events: auto;
}

/* --- СОСТОЯНИЯ (DISPLAY LOGIC) --- */

/* STATE 1: ПОЛНЫЙ ДОСТУП (Первое нажатие) */
.state-1 .hud-top,
.state-1 .hud-bottom,
.state-1 .hud-side {
  opacity: 1;
  visibility: visible;
}



.state-1 .main-circle-btn {
  width: 70px;
  height: 70px;
  border-color: rgba(0, 242, 255, 0.3);
  z-index: 2;
  /* background: rgba(1, 2, 8, 0.4); */
  background: rgba(2, 4, 10, 0.97);

}

/* STATE 2: ЧИСТЫЙ ФОКУС (Второе нажатие) */

.state-2 .hud-top,
.state-2 .hud-bottom,
.state-2 .hud-side,
.state-2 #playlist-side {
  opacity: 0;
  visibility: hidden;
}

.state-2 .main-circle-btn {
  box-shadow: 0 0 5px rgba(0, 242, 255, 1),
    inset 0 0 3px rgba(0, 242, 255, 1);
  background-color: transparent;
  /* Убираем плотный фон */
  backdrop-filter: none;
}

.state-2 .hud-side,
.state-2 #playlist-side {}


.state-2 .full-screen-clicker {
  display: block;
  /* Теперь весь экран — кнопка паузы */
}

.state-2 .main-circle-btn {
  width: 70px;
  height: 70px;
  z-index: 100;
  background: rgba(2, 4, 10, 0.8);
}



/* Мини кнопки в плейлисте */
.btn-mini {
  font-size: var(--fs-10);
  border: 1px solid rgba(0, 242, 255, 0.3);
  padding: 4px 8px;
  color: var(--cyan);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.time-meta {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-12);
  letter-spacing: 2px;
  text-shadow: 0 0 15px var(--cyan);
}

/* Дорожка прогресса */
#progress-container {
  width: 100%;
  height: 4px;
  background: rgba(0, 242, 255, 0.1);
  margin: 15px 0;
  cursor: pointer;
  position: relative;
  opacity: 0.2;
  transition: 0.1s;
  margin-bottom: 10%;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: var(--cyan);
  box-shadow: 0 0 10px var(--cyan);
}

/* Плейлист */
#playlist {
  overflow-y: auto;
  font-size: var(--fs-12);
}

#playlist::-webkit-scrollbar {
  width: 4px;
}

#playlist::-webkit-scrollbar-thumb {
  background: var(--cyan);
}

.track-item {
  padding: 5px;
  cursor: pointer;
  color: var(--glass-light);
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-item:hover,
.track-item.active {
  color: var(--accent);
  opacity: 1;
  text-shadow: 0 0 15px var(--cyan);
}

/* Кнопки управления */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* ********************** */







/* ****************************** */
/* ///////////////////////////////// */
.btn {
  background: none;
  color: var(--glass-light);
  cursor: pointer;
  font-size: var(--fs-16);
  border-radius: 50%;
  transition: all 0.2s ease;
}

.btn.active {
  color: var(--accent);
  text-shadow: 0 0 15px var(--cyan);
  box-shadow: 0 0 10px var(--sky-cyan2),
    inset 0 0 5px var(--cyan);
}

input[type="file"] {
  display: none;
}

label {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: var(--fs-12);
}


#track-info {
  font-size: var(--fs-16);
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;
  color: var(--accent);
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  border-radius: 50%;
  padding-inline: 20px;
  padding-block: 10px;
}



/* Кнопки по бокам */
.btn-side {
  background: none;
  color: var(--glass-light);
  cursor: pointer;
  font-size: var(--fs-16);
  border-radius: 50%;
}


@media (any-hover:hover) {
  .btn-side:hover, .btn:hover {
    color: var(--accent);
    text-shadow: 0 0 15px var(--cyan);
    box-shadow: 0 0 10px var(--sky-cyan2),
      inset 0 0 5px var(--cyan);
  }
  #track-info:hover {
    color: var(--cyan);
    text-shadow: 0 0 30px var(--cyan);
  }
}



/* ==== VOLUME ================= */

.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
}

#volume-slider {
  flex: 1;
  appearance: none;
  background: rgba(0, 242, 255, 0.1);
  height: 2px;
  outline: none;
}

#volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px var(--cyan);
}

#vol-value {
  width: 30px;
  text-align: right;
}



#stars-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1 !important;
  pointer-events: none;
  overflow: hidden;
  /* background-color: var(--bg-cos); */
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  /* Базовый цвет, пока JS не подхватит */
  min-width: 1px;
  min-height: 1px;
  transition: none !important;
  will-change: transform, opacity, background-color;
}

.star--giant {
    /* Форма острого четырехконечного ромба */
    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    border-radius: 0; 
}

/* НЕВИДИМАЯ ПОДЛОЖКА */
.full-screen-clicker {
  position: fixed;
  inset: 0;
  /* На весь экран */
  z-index: 3;
  /* Ниже центральной кнопки, но выше всего остального */
  display: none;
  /* По умолчанию выключен */
  cursor: pointer;
}


/*  */
/*  */
/* ПОИСК */
#playlist-search {
  width: 100%;
  background: var(--glass-transp);
  border: 1px solid rgba(0, 242, 255, 0.2);
  border-radius: 50px;
  color: var(--accent);
  padding-inline: 8px;
  padding-block: 9px;
  font-size: var(--fs-12);
  outline: none;
  opacity: 0;
  visibility: hidden;
}

#playlist-search::placeholder {
  color: rgba(0, 242, 255, 0.2);
}

#playlist-search:focus {
  border-color: var(--cyan);
  box-shadow: 0 0 10px rgba(0, 242, 255, 0.2);
}

#playlist-side:has(.track-item.active) #playlist-search {
  opacity: 1;
  visibility: visible;
}

/* **************************************** */
/* ******************************* */