.categories {
  padding-top: 28px;
}

.categories__header {
  padding-top: 28px;
  text-align: center;
  font-family: var(--font-heading);
}

.categories__header .categories__title {
  font-size: clamp(28px, 2.5vw + 18px, 42px);
  line-height: 1.25;
}

.categories__header .categories__text {
  margin-top: 9px;
  margin-inline: auto;
  max-width: 628px;
  width: 90%;
  font-size: clamp(12px, 0.2vw + 11px, 14px);
  line-height: 1.2;
}

.categories__cards {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 312px));
  gap: 16px;
  justify-content: center;
  align-items: start;
}

.category-card {
  position: relative;
  background-color: var(--bg-color);
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.category-card::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: var(--layer-0);
  border-radius: 32px;
  box-shadow: 0 0 5px 15px rgba(0, 0, 0, 0.192);
  filter: blur(10px);
}

.category-card--laptop {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 639px;
  height: clamp(320px, 30vw, 472px);
  padding-inline: clamp(20px, 3vw, 42px);
  position: relative;
}

.category-card--laptop .category-card__image {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.category-card--laptop .category-card__content {
  margin-top: auto;
  align-self: flex-end;
  text-align: right;
}

.category-card--laptop .category-card__title {
  max-width: 320px;
}

.category-card--watch {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 639px;
  height: clamp(200px, 18vw, 270px);
  padding-inline: clamp(20px, 3vw, 42px);

  margin-top: clamp(36px, 3vw, 72px);
  align-self: start;
}

.category-card--watch .category-card__image {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.category-card--watch .category-card__content {

  align-self: center;
  text-align: right;
}

.category-card--phones {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  flex-direction: column;

  width: 100%;
  max-width: 312px;
  height: clamp(550px, 50vw, 792px);
  box-sizing: border-box;
  padding-block: clamp(40px, 8vw, 144px);
  padding-left: clamp(10px, 8vw, 16px);
}

.category-card--phones .category-card__image {
  align-items: flex-start;
  width: 100%;
}

.category-card--phones .category-card__content {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

.category-card--tablet {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 312px;
  height: clamp(550px, 50vw, 792px);
  box-sizing: border-box;
  padding-block: clamp(40px, 8vw, 115px);
}

.category-card--tablet .category-card__image {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.category-card--tablet .category-card__content {
  width: 100%;
  text-align: center;
}

.category-card--tablet .category-card__title {
  max-width: 300px;
}

.category-card__content {
  display: flex;
  flex-direction: column;
}

.category-card__label {
  font-size: clamp(14px, 0.3vw + 13px, 16px);
  line-height: 1.2;
}


.category-card__title {
  font-size: clamp(22px, 1.8vw + 15px, 32px);
  line-height: 1.2;
}

.category-card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
}

.category-card__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain; 
}

@media (max-width: 1100px) {
  .category-card {
    padding: 0;
  }

}

@media (max-width: 768px) {
  .categories__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }


  .category-card--laptop,
  .category-card--watch {
    grid-column: 1 / 3;
    max-width: 100%;
    height: auto;
    min-height: 250px;
    padding: 20px;
  }

  .category-card--watch {
    margin-top: 0;
    flex-direction: column;
    text-align: center;
  }

  .category-card--watch .category-card__content {
    text-align: center;
    align-self: center;
  }

  .category-card--phones,
  .category-card--tablet {
    grid-column: span 1;
    grid-row: auto;
    height: auto;
    aspect-ratio: 3/5;
    padding-block: 30px;
  }

  .category-card--laptop .category-card__content {
    align-self: center;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .categories__cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .category-card--laptop,
  .category-card--watch,
  .category-card--phones,
  .category-card--tablet {
    grid-column: 1 / -1;
  }
}

