.dropdown__trigger {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.dropdown__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: var(--layer-2);
  top: 100%;
  left: 0;
  transform: translateY(5px);
  
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 
    opacity var(--transition-time) ease-out, 
    transform var(--transition-time) ease-out, 
    visibility var(--transition-time);
}


@media (width > 768px) {
  .dropdown__menu {
  top: 100%;
  left: 0;
  }
}
@media (width <= 768px) {
  .dropdown__menu {
  top: 100%;
  left: -180%;
  }
}


.dropdown__menu.is-active {
  opacity: 1;
  visibility: visible;
}


.dropdown__item-up{
  margin-top: 5px;
}
.dropdown__item-down {
  margin-bottom: 5px;
}

.dropdown__link {
  display: block;
  padding: 14px 53px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-p-color);
  transition: color var(--transition-time), background-color var(--transition-time);
}

@media (any-hover: hover) {
  .dropdown__link:hover {
    background-color: var(--bg2-color);
    color: var(--bg-color);
    box-shadow: 0 10px 50px rgba(255, 255, 255, 0.945), inset 0 2px 2px rgba(0, 0, 0, 0.10);
  }
}

.dropdown__arrow {
  transform: none; 
  width: 12px;
  height: auto;
  transition: transform var(--transition-time) ease;
}

.dropdown__trigger.is-active .dropdown__arrow {
  transform: rotate(180deg);
}