.hero {
  padding-top: 108px;
}

.hero__container {
  background-color: var(--bg2-color);
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.hero__slider {
  position: relative;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 550px;
  overflow: hidden;
  position: relative;

}

.hero__content {
  flex: 1 1 auto;
  max-width: 647px;
  padding-left: 56px;
}

.hero__title {
  font-size: clamp(32px, 4.5vw + 14px, 58px);
  line-height: 1.2;
  margin-bottom: 19px;
}

.hero__text {
  font-family: var(--font-body);
  max-width: 550px;
  font-size: clamp(14px, 0.3vw + 13px, 16px);
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero__btn {
  padding: 14px 53px;
}

.hero__image {
  flex: 0 0 auto;
  width: 647px;
  position: relative;
}

.hero__image img {
  width: 100%;
  height: auto;
  display: block;
}

.hero__pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 34px;
  margin-bottom: 26px;
}


.hero__slider .swiper-pagination-bullet {
  width: 194px;
  height: 2px;
  border-radius: 0;
  background: var(--text-color);
  opacity: 0.3;

}

.hero__slider .swiper-pagination-bullet-active {
  opacity: 1;
}

.hero__prev, .hero__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--layer-2);
  cursor: pointer;
  width: 14px;
  height: 26px;
  color: var(--text-p-color);
  transition: color var(--transition-time);
}

.hero__prev {
  left: 19px;
}

.hero__next {
  right: 19px;
}

.hero__prev:active, .hero__next:active {
  color: var(--bg-color);
}

@media (any-hover:hover) {
  .hero__prev:hover, .hero__next:hover {
    color: var(--bg-color);
  }
}

.hero__next-icon,
.hero__prev-icon {
  stroke: currentColor;
  fill: currentColor;
}


.hero__btn {
  padding: 14px 53px;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 transparent;

  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform, box-shadow;
}

@media (any-hover:hover) {
  .hero__btn:hover {
    background-color: var(--bg2-color);
    border: 1px solid var(--bg-color);
    color: var(--text-p-color);

    text-shadow: 0 0 1px var(--bg-color);

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1),
      inset 0 0 5px rgba(255, 255, 255, 0.5);

    transform: translateY(-2px);
    text-shadow: 
    -1px -1px 0 var(--bg-color),  
    1px -1px 0 var(--bg-color),
    -1px  1px 0 var(--bg-color),
    1px  1px 0 var(--bg-color);
  }
}

.hero__btn:active {
  transform: translateY(1px);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);

}
@media (max-width: 1100px) {
  .hero__image {
    flex: 0 1 auto; 
    width: 100%;  
    max-width: 647px; 
    min-width: 350px;
  }

  .hero__content {
    padding-left: 30px; 
    flex: 1 1 auto;
  }
}

@media (max-width: 992px) {
  .hero__inner {
    flex-direction: column;
    text-align: center;
    min-height: auto;
    padding: 50px 20px;
  }

  .hero__content {
    padding-left: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .hero__text {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__image {
    flex: 0 0 auto;
    width: 80%;
    max-width: 450px;
  }

  .hero__slider .swiper-pagination-bullet {
    width: clamp(30px, 15vw, 150px);
  }
}
