.menu__list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.menu__item.dropdown {
  position: relative;
}

.menu__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(12px, 0.2vw + 11px, 14px);
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-p-color);
  transition: color var(--transition-time);
  
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--text-color);
  }
}
