
.search-promo__container {
  padding-top: clamp(32px, 2.5vw + 20px, 51px);
  padding-bottom: clamp(12px, 1vw + 8px, 19px);
}
.search-promo__main {
  margin-bottom: clamp(34px, 2.5vw + 24px, 61px);
}

.search-promo__input-wrapper {
  padding-block: clamp(10px, 0.4vw + 8px, 14px) clamp(12px, 0.6vw + 10px, 18px);
  position: relative;
  max-width: 650px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
}
.search-promo__title {
  text-align: center;
  font-size: clamp(28px, 2.5vw + 18px, 42px);
  line-height: 1.25;
}
.search-promo__input {
  padding: 
    clamp(14px, 1vw + 10px, 20px) 
    clamp(16px, 1vw + 20px, 24px) 
    clamp(14px, 1vw + 10px, 20px) 
    clamp(48px, 2vw + 60px, 67px);
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  background-color: var(--bg3-color);
  font-size: 16px;
}
.search-promo__btn {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.search-promo__btn:hover {
  transform: translateY(-50%) scale(1.1);
}

.search-promo__icon {
  width: 30px;
  height: 29px;
  stroke: var(--text-color);
  fill: none;
}

.search-promo__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 7px;
}

.search-promo__tag {
  padding: clamp(8px, 0.5vw + 6px, 12px) clamp(16px, 1vw + 12px, 22px);
  border: 1px solid var(--border-color);
  border-radius: 200px;
  background: var(--bg-color);
  font-size: clamp(12px, 0.2vw + 11px, 14px);
  line-height: 1.2;
  color: var(--text-color);
  cursor: pointer;
  white-space: nowrap;
  transition: all var(--transition-time) ease;
}

.search-promo__tag:hover {
  border-color: var(--text-color);
  color: var(--text-color);
}


.newsletter-card {
  background-color: var(--bg2-color);
  border-radius: 16px;
  max-width: clamp(320px, 85vw, 935px);
  width: 100%;
  margin-inline: auto;
  padding-block: 
    clamp(28px, 2vw + 20px, 47px) 
    clamp(26px, 1.8vw + 19px, 43px);
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-card__title {
  font-size: clamp(28px, 2.5vw + 18px, 42px);
  line-height: 1.25;
  margin-bottom: clamp(6px, 0.2vw + 5px, 9px);
}

.newsletter-card__text {

  font-size: clamp(14px, 0.3vw + 13px, 16px);
  line-height: 1.2;
  margin-bottom: clamp(10px, 0.4vw + 8px, 14px);
}

.newsletter-card__image {
  margin-bottom: clamp(10px, 0.4vw + 8px, 14px);
}

.newsletter-card__form {
  font-family: var(--font-body);
  font-size: clamp(12px, 0.2vw + 11px, 14px);
  line-height: 1.2;
  display: flex;
  width: 100%;
  max-width: clamp(300px, 25vw + 200px, 400px);
  background-color: var(--bg2-color);
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid var(--text-color);
}

.newsletter-card__input {
  flex-grow: 1;
  border: none;
  background: transparent;
  
  padding: clamp(12px, 0.8vw + 9px, 17px) clamp(16px, 1.2vw + 11px, 24px);
  outline: none;
}

.newsletter-card__btn {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding-inline: 
    clamp(22px, 1.25vw + 17px, 32px) 
    clamp(23px, 1.25vw + 18px, 33px);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-time) ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-card__btn:hover {
  background-color: var(--text-p-color);
}