/* ---------------------------------------------- */

.panel {
    pointer-events: none;
    position: fixed;
    /* Центрируем точку старта */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    
    z-index: 2;
    /* Тонкая вертикальная нить в центре */
    height: 0;
    width: 2px;
    /* ЛОГИКА ЗАКРЫТИЯ (Схлопывание в центр) */
    transition:
        opacity 0.2s ease,
        width 0.4s 0s cubic-bezier(0.4, 0, 0.2, 1),  /* Сначала ширина */
        height 0.4s 0.4s cubic-bezier(0.4, 0, 0.2, 1), /* Потом высота */
        visibility 0s 0.8s;
}

/* 2. СОСТОЯНИЕ ACTIVE */
.panel.active {
    opacity: 1;
    visibility: visible;
    /* ЛОГИКА ОТКРЫТИЯ (Из центра во все стороны) */
    transition:
        opacity 0.3s ease,
        height 0.5s 0s cubic-bezier(0.4, 0, 0.2, 1), /* 1. Линия вверх-вниз */
        width 0.5s 0.5s cubic-bezier(0.4, 0, 0.2, 1), /* 2. Раскрытие в бока */
        visibility 0s 0s;
        
    overflow-y: auto; 
}

/* .panel.active {
    display: flex;
    flex-direction: column;
} */


/* СТИЛИЗАЦИЯ СКРОЛЛА (под систему ARC-9) */
.panel::-webkit-scrollbar {
    width: 4px;
}
.panel::-webkit-scrollbar-thumb {
    background: var(--glass);
    box-shadow: 0 0 10px var(--glass-border);
}
/* Контент внутри */
.panel>* {
    opacity: 0;
    transition: opacity 0.3s 0s;
}

.panel.active>* {
    opacity: 1;
    transition: opacity 0.3s 1s ease;
    /* Появляется после раскрытия */
}




/* Этап 1: Лазер прочерчивает линию вниз */
@keyframes laser-down {
    from {
        height: 0;
        opacity: 0;
        border-left-width: 2px;
    }

    to {
        height: 400px;
        opacity: 1;
        border-left-width: 2px;
    }
}

/* Этап 2: Панель вытягивается вправо из линии */
@keyframes panel-spread {
    from {
        width: 0;
    }

    to {
        width: 1000px;
    }
}

@keyframes fade-in-content {
    to {
        opacity: 1;
    }
}

