:root {
  --bg: #010208;
  --card-bg: rgba(255, 255, 255, 0.03);
  --accent: #00e676;
  /* Цвет жизни/сияния */
  --text-main: #ffffff;
  --text-dim: rgba(255, 255, 255, 0.5);

  --font-body: "Inter", sans-serif;
  --font-size-text: 16.8px;

  --container-width: 1440px;
  --container-padding: 15px;
}