


body {
    margin: 0;
    background-color: var(--bg-cos);
    color: #fff;
    font-family: 'Inter', 'Monospace', sans-serif;
    overflow-x: hidden;
}
input,
button {
    background: #111;
    color: #fff;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}

body {
    min-height: 100vh;
    height: auto; /* Позволяем странице расти вниз */
    overflow-y: auto; /* Включаем вертикальный скролл */
    overflow-x: hidden; /* Запрещаем боковой скролл */
}



.cell-svg, .cell-header, .scan-ring {
    pointer-events: none; /* Пропускает клик сквозь себя */
}
.battery-cell, .mini-reset, .delete-unit, .view-log-btn, .reset-btn, button {
    pointer-events: auto; /* Эти элементы должны принимать клик */
}
