.log {
    width: 100%;
    position: relative;
    z-index: 100;
    height: 36px; /* Резервируем место под свернутую полоску */
}

.hud-log {
    position: absolute;
    /* Поднимаем точку отсчета лога чуть выше */
    bottom: env(safe-area-inset-bottom, 10px); 
    left: 0;
    /* Добавляем внутренний отступ снизу, чтобы текст не прилипал к кнопкам */
    padding-bottom: 20px; 

    width: 100%;
    /* Плавный рост высоты именно ВВЕРХ */
    height: 28px;
    background: rgba(5, 5, 10, 0.98); /* Почти непрозрачный, чтобы перекрыть кликеры */
    border-top: 2px solid var(--cyan);
    
    display: flex;
    flex-direction: column;
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

/* 2. СОСТОЯНИЕ "РАЗВЕРНУТО" (10 строк) */
.hud-log.active {
    height: 220px; /* Примерно 10-12 строк */
    overflow-y: auto; /* Появляется скролл */
    border-color: var(--cyan);
    box-shadow: 0 -15px 30px rgba(0, 242, 255, 0.1);
    cursor: default; /* По умолчанию курсор обычный */
    user-select: text; /* Разрешаем выделение текста во всем блоке */
    flex-shrink: 0;
}

.hud-panel, .hud-log {
    backdrop-filter: blur(12px); /* Эффект матового стекла */
    background: rgba(5, 5, 10, 0.85); /* Плотный темный фон */
    border: 1px solid var(--glass-border);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------строка ЛОГОВ------- */

.log-entry {
    font-family: var(--font-text);
    color: var(--cyan);
    margin: 0; 
    flex-shrink: 0; 
    padding: 2px 2px;
    border-bottom: 1px solid rgba(0, 242, 255, 0.1);
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: text; /* Текст записи всегда "текстовый" */
    /* position: relative; */
    z-index: 10; /* Чтобы текст был над фоном и выделялся первым */
}
.log-entry:first-child {
    margin-top: 0;
}
.hud-log.active .log-entry {
    opacity: 1;
    cursor: text; /* Показываем, что текст можно выделить */
    pointer-events: auto;
}

/* Скроллбар для логов */
.hud-log::-webkit-scrollbar {
    width: 4px;
}
.hud-log::-webkit-scrollbar-thumb {
    background: var(--cyan);
}
/* Когда лог НЕ активен (свернут), текст не должен перехватывать клик */
.hud-log:not(.active) .log-entry {
    pointer-events: none;
}
/* Когда лог активен, возвращаем возможность выделять текст */
.hud-log.active .log-entry {
    pointer-events: auto;
}