:root {
    --cyan: rgb(0, 242, 255);
    --glass: #00f2ff0d;
    --glass-border: #00f2ff33;

    --bg: #050505;
    --bg-cos: #02040a;
    --accent: #fff;

    --magenta: #ff00ff;
    --orange: #ff4e00;
    --blue: #0a1128;
    --Indigo: #1c1c54;
    --violet: #5e3a8c;
    --golden: #ffcc00;
    --golden-2: #ffd700;
    --purple: #4a0e4e;

    --red: #ff0000;
    --red-2: rgb(255, 0, 85);
    
    --glass-inher: inherit;
    --glass-transp: transparent;
    /* Отменяет заливку, виден фон родителя, Скрывает  */


    --font-body: "Inter", sans-serif;
    --font-size-text: 16.8px;

    --container-width: 1294px;
    --container-padding: 15px;

    /* container */
    --container-width: 1294px;
    --container-padding: 15px;

    /* transition */
    --transition-time: 0.2s;
    /* layers */
    --layer-0: -1;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
    --layer-4: 4;
    /* Для совместимости с твоим старым кодом */
}


/* Deep Blue: #0a1128
Midnight Indigo: #1c1c54
Sky Violet: #5e3a8c
Golden Hour: #ffcc00
Sunset Orange: #ff4e00
Burning Red: #ff0000
Deep Purple: #4a0e4e
Dark Abyss: #050505 (Твой фон) */

/* background: radial-gradient(circle at center, #0a151a 0%, #050505 100%); */
/* background: linear-gradient(180deg, #0c1445 0%, #00f2ff 40%, #ff00ff 70%, #ff4e00 100%); */