html, body {
    height: 100dvh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; /* ГЛОБАЛЬНЫЙ ЗАПРЕТ СКРОЛЛА */
    
}
.page {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--bg-cos);
    line-height: 1.2;
}
.page__body {
    background-color: var(--bg-cos);
    color: var(--accent);
    display: flex;
    flex-direction: column;
}
.page__body--no-scroll {
    overflow-y: hidden;
}
.header, .footer {
    flex-shrink: 0; /* Запрещаем сжиматься */
}

/* { */
    /* pointer-events: none; */
    /* Пропускает клик сквозь себя */
/* } */

.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

button, 
.btn-side,
.main-circle-btn, 
#track-info, 
.track-item
#progress-container,
label[for="file-input"]  {
    /* Эти элементы должны принимать клик */
    pointer-events: auto; 
    /* Убирает синюю/серую вспышку при тапе на мобилках */
    -webkit-tap-highlight-color: transparent;    
    /* Дополнительно: убирает контур при фокусе (если мешает) */
    outline: none;

    /* Отключает задержку и жесты зума на кнопках */
    touch-action: manipulation; 
    /* Убирает синюю рамку/вспышку при тапе на Android/iOS */
    -webkit-tap-highlight-color: transparent; 
}

.main-circle-btn, .hud-side, .hud-bottom, #playlist-side {
    /* Заранее выносит элементы на GPU */
    will-change: opacity, transform; 
}